.or-menu {
    background-color: rgba(0,0,0,.2);
    padding: 3px;
    font-style: italic;
}
.red {
    background-color: rgba(183, 98, 114,.4);
    padding: 3px;
}
.highlight-yellow {
    background-color: rgba(255,255,0,.4);
    padding: 3px;
}
.highlight-yellow-fixed {
    background-color: rgba(255,255,0,.4);
    font-family: monospace;  
    padding: 3px;
}
.highlight-turq-fixed {
    background-color: rgba(0,255,255,.4);
    font-family: monospace;  
    padding: 3px;
}
.highlight-green-fixed {
    background-color: rgba(0,255,0,.4);
    font-family: monospace;  
    padding: 3px;
}
em {
  font-variant: small-caps;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto  
}
div.video {
 display: block;
 width: 100%; 
}
div.video iframe {
  width: 70%; /* or, leave this line out and control width in the iframe code */
  margin-left: 15%; /* or, set to auto */
  margin-right: 15% /* or, set to auto */
}

div.challenge { 
  padding-left: 5px; 
  padding-top: 0; 
  padding-bottom: 0; 
  padding-right: 0; 
  border: 1px solid; 
  border-color: #eec275; 
  padding-bottom: 5px;
}
div.challenge { 
  padding-top: 0px; 
  padding-bottom: 0px; 
  /** font-size: 20px;  **/
  /** background: linear-gradient(to bottom, #eec275, #f0c883); **/
  /** border-color: #eec275; **/
  margin-top: 0px; 
  margin-left: -5px; 
}
div.challenge :before { 
  font-family: 'Glyphicons Halflings'; 
  /* content: "✏";  */
  float: left; 
  padding-left: 5px; 
  padding-right: 5px; 
  display: inline-block; 
  -webkit-font-smoothing: antialiased; 
}
